*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}
header{
    background: #0C0E18;
    padding: 20px 0;
}
header .container{
    display: flex;
    align-items: center;
justify-content: space-between;
}
header .container div{
    display: flex;
    align-items: center;
    gap: 50px;
}
header h2{
    color: #ffff;
}
select{
    background-color: #0C0E18;
    border: none;
    width: 130px;
    color: #ffff;
    font-size: 20px;
}
.btn{
    padding: 12px 35px;
    background-color: #bfaffb;
    border-radius: 20px;
    font-size: 18px;
    border: none;
    color: #000;
}
.btn:hover{
    background-color: #0C0E18;
    color: white;
}
main{
    background-color: #101220;
}
.card{
    width: 325px;
    height: 240px;
    background: #232028;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: center;
    text-align: center;
}
.card h2{
    color: white ;
font-size: 32px;
font-weight: 400;
line-height: 38.4px;
padding-bottom: 15px;
}
.card p{
    color: #ffff;
font-size: 14px;
font-weight: 400;
line-height: 16.8px;
font-size: 18px;
}
.ota{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100vh;
    gap: 20px;
    padding: 50px 0;
}
.rasim{
    position: absolute;
    top: -280px;
    left: -5px;
}
footer{
    background:  #0C0E18;
    color:white;
  
}
footer ul {
display: flex;
align-items: center;
gap: 40px;
list-style: none;
}
ul li a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}
footer .container{
display: flex;  
align-items: center;
justify-content: space-between;
}
